{
  "project_info": {
    "project_number": "621816896534",
    "project_id": "rexowallet2026",
    "storage_bucket": "rexowallet2026.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:621816896534:android:6bfc099c9685f8f2d8e937",
        "android_client_info": {
          "package_name": "com.rexo.marketplace"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "AIzaSyD_EXy40wTJQKRJX-HS1YzeH1pC6Oo1Pak"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
